<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>$(BUZZ_IOS_PUSH_ENVIRONMENT)</string>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<string>$(BUZZ_APP_ATTEST_ENVIRONMENT)</string>
	<key>com.apple.developer.declared-age-range</key>
	<true/>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(BUZZ_APP_GROUP_IDENTIFIER)</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(BUZZ_KEYCHAIN_ACCESS_GROUP)</string>
	</array>
</dict>
</plist>
